@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  color: white;
  overflow-x: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

canvas {
  touch-action: none;
}
